
.title {
  font-size: 60px;
  text-align: center;
  margin-top: 150px;
}

.button {
  height: 100px;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.button:active {
  background-color: #1da1f2;
}

